:root {
  box-sizing: border-box;
}

/* nav */
nav ul {
  width: 100%;
}

.social-icons .fa-brands {
  color: white;
}

.nav-link:hover {
  color: gray !important;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-icons .fa-brands:hover {
  color: gray;
}

/* carrousel */
.w-600 {
  width: 70rem;
}

.container-carousel-1 .image-container {
  /* max-width: 100%; */
  /* min-height: 400px; */
  background-color: black;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.centered-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev {
  right: -40px;
  /* Ajuste a posição da seta esquerda */
}

.carousel-control-next {
  left: 63rem;
  /* Ajuste a posição da seta direita */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 500px;
  margin-top: 27rem;
  /* Ajuste o tamanho dos ícones */
}
/* .bi .bi-instagram {
  background-color: #fff;
} */


/* Lista de Cursos */
.lista-curso {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
}

/* Estilização específica para o rodapé (footer) */
.site-footer {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 40px;
  border-top: 1px solid #e9ecef;
}

.site-footer h5 {
  color: #343a40;
}

@media only screen and (max-width: 600px) {
  .lista-curso {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

/*
Muito medo de quem escreveu isso aqui
a {
  text-align: none;
} */

.footer-links a:hover {
  background-color: #f0f0f0;
  padding: 5px;
  /* Ajuste a seu gosto */
  border-radius: 5px;
  /* Ajuste a seu gosto */
}

.footer-links a:hover {}
